$white: hsl(33, 10%, 98%);
$orange: hsl(33, 100%, 50%);
$black: hsl(33, 10%, 10%);

#index-page {
  color: $white;

  h1,
  h2 {
    font-size: 3em;
  }

  h1.hello {
    animation: fade-in-first 1.6s forwards;
    min-height: 100%;
    padding: 0 0.33333em;
    // align vertically
    display: flex;
    align-items: center;
  }

  h2 {
    margin-bottom: 0.4em;
  }

  section {
    padding: 0 1em;
    margin: 5em 0;
  }

  section.hand-wave {
    text-align: center;
  }

  section.check-it-out,
  section.portfolio-continued {
    figure {
      margin-top: 3em;
    }

    div {
      background-color: orange;
      height: 60vw;
    }

    figcaption,
    p {
      margin-top: 0.8em;
    }

    a {
      text-decoration: underline;
    }
  }

  section.reach-out {
    background-color: $black;
    padding: 2.5em 1em;

    span {
      color: $orange;
    }

    form {
      display: flex;
      flex-flow: column;

      input,
      textarea,
      button {
        margin-top: 1em;
        font: inherit;
        border: 1px solid $white;
        padding: 0.2em 0.4em;
        color: inherit;
        background-color: inherit;
        border-radius: 0;

        &:focus {
          outline: none;
          border-color: $orange;
        }
      }

      button {
        border-color: darken($white, 50%);
        color: darken($white, 50%);
        font-weight: bold;

        &:focus {
          border-color: darken($white, 50%);
          background-color: darken($white, 50%);
          color: $black;
        }
      }

      &:valid button {
        border-color: $orange;
        color: $white;
        background-color: $orange;

        &:focus {
          border-color: $white;
          background-color: $white;
          color: $orange;
        }
      }
    }
  }

  footer {
    background: $black;
    padding: 1em;

    a {
      font-size: 1.5em;
    }

    .back-to-top {
      display: inline-block;
      margin: 0 0 0 calc(50% - 0.5em);
      scroll-behavior: smooth;
      color: inherit;
      background-color: transparent;
      border: none;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      list-style-type: none;
      margin: 1em 1em 0 0;
    }

    p {
      margin-top: 1em;
    }
  }
}

@font-face {
  font-family: Nunito;
  src: url("../../static/Nunito-Regular.ttf");
}

@keyframes fade-in-first {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-second {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
