@font-face {
  font-family: Nunito;
  src: url("../../static/Nunito-Regular.ttf");
}

@keyframes fade-in-first {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-second {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

.helloSection {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 2em;
    animation: fade-in-first 1.6s forwards;
  }

  /// "scroll down" text
  h1 + p {
    margin: 1.5em 0 -1.5em;
    animation: fade-in-second 4s forwards,
      pulse 1s 4s infinite alternate-reverse;
    // prevent flicker at end of transition
    // on macOS Safari
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
    transform: translateZ(0);
  }
}

.bioCardSection {
  padding-right: 0.25em;
  margin-bottom: calc(50vh - 5em);

  /// the actual card
  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    // margin and padding
    max-width: 30em;
    margin: 0 auto;
    padding: 1em;
    // colors
    background-color: #fff;
    border: 0.1em solid #000;
    border-radius: 2px;
    box-shadow: 0.4em 0.4em 0.05em rgba(0, 0, 0, 0.9);

    /// profile image container
    & > div:first-child {
      width: 4em;
      margin: 0 auto;

      @media (min-width: /* test */ 500px) {
        width: 20%;
        max-width: 400px;
        margin-right: 1em;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    /// bio text
    & > div:last-child {
      color: #000;
      margin-top: 0.5em;

      @media (min-width: /* test */ 500px) {
        margin-top: 0;
        width: 80%;
      }

      h3 {
        padding-bottom: 0.5em;
      }
    }
  }
}

.bigH2 {
  font-size: 2em;
  text-align: center;
}

.descriptionSection {
  margin-bottom: calc(50vh - 3em);

  /// p and img container
  & > div {
    max-width: 25em;
    margin: 1.5em auto 0;

    p {
      font-family: Nunito;
      line-height: 1.5;
    }

    img {
      width: 10em;
      float: right;
      margin-top: 1em;
    }
  }
}

.socialWorkerBlogSection {
  clear: right;

  .bigH2 {
    font-size: 2em;
  }

  /// the overlapping link and figure
  & > div {
    float: right;

    a {
      display: inline-block;
      padding: 1em;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  img {
    width: 5em;
  }
}
