body {
  background-color: hsl(33, 100%, 50%);
  background-image: -webkit-linear-gradient(
    to top right,
    hsl(13, 100%, 49%),
    hsl(33, 100%, 50%)
  );
  background-image: linear-gradient(
    to top right,
    hsl(13, 100%, 49%),
    hsl(33, 100%, 50%)
  );
  background-attachment: fixed;
  color: #fff;
}
